[Unit]
Description=Makes an interface run in promiscuous mode at boot
After=Network-online.target

[Service]
Type=oneshot
ExecStart=/docker/etc/network-init.sh
#ExecStart=/usr/sbin/ip link set dev ens9 promisc on
#ExecStart=/usr/sbin/ip link set dev ens12 promisc on
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
